.settings
.externalToolBuilders/
.idea/
/.classpath
/.project
/build
/build
/build/**/*
/build/*
!/build/.nginx
!/build/nginx*
!/build/locale-*.json

node_modules/**
node_modules/*
*/node_modules/*
*/node_modules/**
bower_components/**